{{#paper-item class="md-2-line" onClick=(action "clickItem") as |controls|}}
  <img src="https://lorempixel.com/80/80" alt="Tomster" class="md-avatar">
  <div class="md-list-item-text">
    <h3>{{item.name}}</h3>
    <p>Some longer notes here could be here. But they aren't.</p>
  </div>
  {{#controls.button iconButton=true onClick=(action "clickEdit" item)}}
    {{paper-icon "edit"}}
    {{#paper-tooltip}}Edit warranty{{/paper-tooltip}}
  {{/controls.button}}
{{/paper-item}}
