{{#paper-form onSubmit=(action "submitChanges") preventDefault=true as |form|}}
  <div class="layout-column">
    {{form.input
      label="Name"
      placeholder="Enter name"
      value=warranty.name
      errors=errors.name
      isTouched=true
      onChange=(action (mut warranty.name))}}
  </div>
  {{#form.submit-button raised=false primary=true}}Save{{/form.submit-button}}
  {{#paper-button raised=false onClick=(action "cancelChanges")}}Cancel{{/paper-button}}
{{/paper-form}}
