{{#paper-sidenav-container class="site-nav-container"}}
  {{#paper-sidenav
    class="md-whiteframe-z2 site-sidenav"
    open=isSidenavOpen
    lockedOpen=false
    onToggle=(action (mut isSidenavOpen))}}
    {{#paper-content padding=true}}
      ...
    {{/paper-content}}
  {{/paper-sidenav}}
  <div id="main" class="flex layout-column" tabindex="-1" role="main">
    <PageToolbar @pageTitle="Warranties" />

    {{outlet}}
  </div>
{{/paper-sidenav-container}}
