{{#paper-content scroll-y=true class="layout-padding flex"}}
  <div class="doc-content">
    {{#paper-card as |card|}}
      {{#card.content}}
        <h3>Create a new warranty</h3>
        <WarrantyForm @warranty={{newModel}} @onSubmit={{action "saveWarranty"}}/>
      {{/card.content}}
    {{/paper-card}}
  </div>
{{/paper-content}}
