{{#paper-content scroll-y=true class="layout-padding flex"}}
  <div class="doc-content">
    {{#paper-card as |card|}}
      {{#paper-list}}
        {{#paper-item class="md-2-line" as |controls|}}
          <img src="https://picsum.photos/80/80?blur" alt="Tomster" class="md-avatar">
          <div class="md-list-item-text">
            <h3>{{model.name}}</h3>
            <p>Some longer notes here could be here. But they aren't.</p>
          </div>
          <div class="md-list-item-text">
            <FormattedExpiresOn @expiresOn={{model.expiresOn}} />
          </div>
          <div class="md-secondary-container">
            {{#controls.button onClick=(action "editWarranty" model)}}Edit{{/controls.button}}
          </div>
        {{/paper-item}}
      {{/paper-list}}
    {{/paper-card}}
  </div>
{{/paper-content}}
