<PaperContent @scroll-y=true @class="layout-padding flex">
  <div class="doc-content">
      {{#each this.model as |warranty|}}
        <WarrantyCardItem @warranty={{warranty}}/>
      {{/each}}
  </div>
  {{outlet}}
</PaperContent>
