{{#paper-content scroll-y=true class="layout-padding flex"}}
  <div class="doc-content">
    {{#paper-card as |card|}}
      {{#paper-list}}
      {{#each this.model as |warranty|}}
        {{#link-to "show-warranty" warranty class="warranty-item"}}
          <WarrantyItem @warranty={{warranty}}/>
        {{/link-to}}
        {{#unless (eq warranty this.model.lastObject)}} {{paper-divider}} {{/unless}}
      {{/each}}
      {{/paper-list}}
      {{#paper-button raised=true fab=true accent=true class="new-warranty-fab"}}{{paper-icon "add" size=24}}{{/paper-button}}
    {{/paper-card}}
  </div>
  {{outlet}}
{{/paper-content}}
